<h2>Welcome Back!</h2>


<%= form_for @user, url: '/sessions', method: 'post' do |f| %>

  <%= f.label "Email"  %>
  <%= f.email_field :email, placeholder: "example@example.com"  %> <br>

  <%= f.label "Password"  %>
  <%= f.password_field :password, placeholder: "Password"  %> <br>


  <%= f.submit "Log in"%>

<% end %>
