<h2>Welcome Back!</h2>
<% flash.each do |name, msg| %>
  <div class="error"><%= msg %></div>
  <br>
<% end %>
<div class="form_container six columns offset-by-three columns">
  <div class="form">
    <%= form_for @user, url: '/sessions', method: 'post' do |f| %>

      <%= f.label "Email"  %>
      <%= f.email_field :email, placeholder: "example@example.com"  %> <br>

      <%= f.label "Password"  %>
      <%= f.password_field :password, placeholder: "Password"  %> <br>


      <%= f.submit "Log in", :class => 'button save_changes'%>

    <% end %>
  </div>
</div>
