<h2>Edit <%= @user.name%></h2>
<div class="form_container six columns offset-by-three columns">
  <div class="form">


<%= form_for @user, html: { multipart: true } do |f| %>
  <%= f.label "Name"  %>
  <%= f.text_field :name, placeholder: "John Doe"  %> <br>

    <%= f.label "Email"  %>
    <%= f.email_field :email, placeholder: "example@example.com"  %> <br>

    <%= f.label "Current City"  %>
    <%= f.text_field :current_city, placeholder: "San Francisco"  %> <br>

  <%= f.label :avatar %>
  <%= f.file_field :avatar %> <br>

  <div class="btns">
    <%= f.submit "Save Edits", :class => 'button', :id => "edit_btn"%>

      <%= link_to user_path, class: "rm_line" do %>
        <div class="button user_back_btn">Back</div>
      <% end %>
  </div>

  <% end %>
  </div>



</div>
