<h2>Welcome to the Global Community!</h2>
<% @user.errors.full_messages.each do |msg| %>
 <div class="error"><%= msg %></div><br>
<% end %>
<div class="form_container six columns offset-by-three columns">
  <div class="form">
    <%= form_for @user do |f| %>
      <%= f.label "Name"  %>
      <%= f.text_field :name, placeholder: "John Doe"  %> <br>

      <%= f.label "Email"  %>
      <%= f.email_field :email, placeholder: "example@example.com"  %> <br>

      <%= f.label "Password"  %>
      <%= f.password_field :password, placeholder: "Password"  %> <br>

      <%= f.label "Current City"  %>
      <%= f.text_field :current_city, placeholder: "San Francisco"  %> <br>

      <%= f.submit "Become a Vagabond!", :class => 'button save_changes'%>

    <% end %>
  </div>
</div>
