<h2>Profile!</h2>
<div class="flex-grid">
  <div class="user">
    <img src="" alt="">
    <ul>
      <%= image_tag @user.avatar.url(:thumb), class: 'profile-image' %>
      <h4><%= @user.name%></h4>
      <h4><%= @user.created_at%></h4>
      <h4><%= @user.current_city%></h4>
      <%= link_to edit_user_path, class: "rm_line" do %>
        <div class="button edit_profile"> <%= image_tag("Pencil.png", border: 0) %>Edit Profile</div>
      <% end %>
    </ul>
  </div>

  <div class="post">
      <% @user.posts.each do |post| %>
        <%= link_to post.title, post_path(post) %><br>
        <%= post.author %><br>
        <%= post.content %>
        <div class="glyph">
          <%= image_tag("Pencil.png", border: 0) %>
          <%= image_tag("Bin.png", border: 0) %>
        </div>
        <hr>
      <% end %>
  </div>
</div>
