<h1><%= @user.name%></h1>
<ul>
  <li><%= @user.email%></li>
  <li><%= @user.current_city%></li>
</ul>

<div class="post">
  <% @user.posts.each do |post| %>
    <%= post.title %><br>
    <%= post.author %><br>
    <%= post.content %>
    <div class="glyph">
      <%= image_tag("Pencil.png", border: 0) %>
      <%= image_tag("Bin.png", border: 0) %>
    </div>
    <hr>
  <% end %>
</div>
