<h1>Create a New Post!</h1>

<%= form_for [@city, @post], url: "/cities/" + @city.id.to_s + "/posts", method: 'post' do |f| %>

  <%= f.label "Title"  %>
  <%= f.text_field :title, placeholder: "Give Your Travel Tip a Title" %> <br>

  <%= f.label "Your Tip"  %>
  <%= f.text_area :content, placeholder: "Tell Us About Your Travel Tip"  %> <br>

  <%= f.submit "Save" %>

<% end %>
<br>
<%= link_to city_path, class: "rm_line" do %>
  <div class="button post_back_btn">Back</div>
<% end %>
