<h2><%= @post.title %></h2>
<div class="show">

  <div class="user four columns offset-by-one column">
    <%= image_tag @user.avatar.url(:thumb), class: 'profile-image' %>
    <ul>
      <h4><%= link_to @post.author, user_path(@post.user_id) %></h4>
      <h4><%= @post.created_at %></h4>
      <h4><%= @city.name %></h4>
    </ul>
  </div>

  <div class="post five columns">
    <%= @post.content %>
  </div>
  <div class="glyph two columns">
    <%= image_tag("Pencil.png", border: 0) %>
    <%= image_tag("Bin.png", border: 0) %>
  </div>
</div>
