<div class="flex-grid">
  <div class="user">
    <%= image_tag @user.avatar.url(:thumb), class: 'profile-image' %>
    <ul>
      <h4><%= link_to @post.author, user_path(@post.user_id) %></h4>
      <h4><%= @post.created_at %></h4>
      <h4><%= @city.name %></h4>
    </ul>
  </div>

  <div class="post">
    <%= @post.title %><br>
    <%= link_to @post.author, user_path(@post.user_id) %><br>
    <%= @post.content %>
  </div>
</div>
