<div class="city_name">
  <h2><%= @post.title %></h2> <h4><%= link_to @city.name, city_path(@city), :class => "button city_btn" %></h4>
</div>
<div class="show flex-grid">

  <div class="post eight columns">
    <%= @post.content %><br><br>
    <% if current_user && current_user == @post.user %>
      <%= link_to image_tag("Pencil.png", border: 0), edit_post_path(@city, @post) %>
      &nbsp
      <%= link_to image_tag("Bin.png", border: 0), @post, method: "delete", data: {confirm: "Are you sure you want to delete this post?"}%>
    <% end %>
  </div>


  
  <%= link_to user_path(@post.user_id) do %>
    <div class="user four columns">
      <%= image_tag @user.avatar.url(:thumb), class: 'profile-image twelve columns' %>
        <h4 class="six columns offset-by-three columns"><%= @post.author %></h4>
    </div>
  <% end %>

</div>
