<h2><%= @city.name %></h2>

<%= image_tag @city.photo, class: 'show-photo' %><br>



<div class="flex-grid">
  <div class="user">
    <ul>
      <% @city.posts.each do |post| %>
      <li><%= post.author %></li>
      <% end %>
    </ul>
  </div>
  <div class="post">
    <ul>
      <% @city.posts.each do |post| %>
        <li><%= link_to post.title, post_path(post.id) %></li>
      <% end %><br>
      <%= link_to new_post_path, class: "rm_line" do %>
        <div class="button make_post"><%= image_tag("Pencil.png", border: 0) %>Make a Post
        </div>
      <% end %>
    </ul>
  </div>
</div>
